<ul ngbNav #nav="ngbNav" class="navbar navbar-dark bg-primary"> <!--fixed-top-->
    <li [ngbNavItem]="1">
        <a ngbNavLink class="navbar-brand" routerLink="/" routerLinkActive="active">Dictionary</a>
    </li>
    <li [ngbNavItem]="2" class="nav-item">
        <a ngbNavLink class="nav-link" routerLink="./create-dictionary" routerLinkActive="active">Create Dictionary</a>
    </li>
    <form (keyup.enter)="search();" class="form-inline my-2 my-lg-0 mr-auto">
        <input name="search-item" [(ngModel)]="searchItem" type="text" class="form-control" type="search" placeholder="Search">
    </form>
    <li *ngIf="user === ''" [ngbNavItem]="3" class="nav-item">
        <a ngbNavLink routerLink="./signup" routerLinkActive="active">Sign Up</a>
    </li>
    <li *ngIf="user === ''" [ngbNavItem]="4" class="nav-item">
        <a ngbNavLink routerLink="./login" routerLinkActive="active">Log In</a>
    </li>
    <li *ngIf="user !== ''" ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>{{ user }}</a>
        <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/profile', user]">Profile</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="logout();">Logout</button>
        </div>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>