<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Dictionary</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="collapsed = !collapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="collapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mt-2 mt-lg-0 mr-auto">
            <!--Create Dictionary-->
            <li class="nav-item">
                <a class="nav-link" routerLink="./create-dictionary">Create Dictionary</a>
            </li>
            <!--Search-->
            <form (keyup.enter)="search()" class="form-inline my-2 my-lg-0">
                <input name="search-item" [(ngModel)]="searchItem" type="text" class="form-control" type="search" placeholder="Search">
            </form>
            <!--Dictionaries-->
            <li *ngIf="user?.email != null" class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="dictionariesDropdown" ngbDropdownToggle>Dictionaries</a>
                <div class="dropdown-menu" aria-labelledby="dictionariesDropdown" ngbDropdownMenu>
                    <a *ngFor="let dictionary of dictionaries" [routerLink]="['/dictionary', dictionary.id]" ngbDropdownItem>{{ dictionary.name }}</a>
                    <a class="disabled" *ngIf="dictionaries?.length <= 0" ngbDropdownItem>You have no dictionaries</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav mt-2 mt-lg-0">
            <!--Sign Up-->
            <li *ngIf="user?.email == null" class="nav-item">
                <a class="nav-link" routerLink="./signup">Sign Up</a>
            </li>
            <!--Log In-->
            <li *ngIf="user?.email == null" class="nav-item">
                <a class="nav-link" routerLink="./login">Log In</a>
            </li>
            <!--Profile-->
            <li *ngIf="user?.email != null" class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="profile" ngbDropdownToggle>{{ user.email }}</a>
                <div class="dropdown-menu" aria-labelledby="profile" ngbDropdownMenu>
                    <a [routerLink]="['/profile', user.id]" ngbDropdownItem>Profile</a>
                    <div class="dropdown-divider"></div>
                    <a (click)="signOut()" ngbDropdownItem>Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- <ul ngbNav #nav="ngbNav" class="navbar navbar-dark bg-primary">
    <li [ngbNavItem]="1">
        <a ngbNavLink class="navbar-brand" routerLink="/">Dictionary</a>
    </li>
    <li [ngbNavItem]="2" class="nav-item">
        <a ngbNavLink class="nav-link" routerLink="./create-dictionary">Create Dictionary</a>
    </li>
    <form (keyup.enter)="search()" class="form-inline my-2 my-lg-0">
        <input name="search-item" [(ngModel)]="searchItem" type="text" class="form-control" type="search" placeholder="Search">
    </form>
    <li *ngIf="user?.email != null" ngbDropdown class="nav-item mr-auto">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Dictionaries</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let dictionary of dictionaries" [routerLink]="['/dictionary', dictionary.id]">{{ dictionary.name }}</button>
            <button ngbDropdownItem [disabled]="true" *ngIf="dictionaries?.length < 1">You have no Dictionaries</button>
        </div>
    </li>
    <li *ngIf="user?.email == null" [ngbNavItem]="3" class="nav-item ml-auto">
        <a ngbNavLink routerLink="./signup">Sign Up</a>
    </li>
    <li *ngIf="user?.email == null" [ngbNavItem]="4" class="nav-item">
        <a ngbNavLink routerLink="./login">Log In</a>
    </li>
    <li *ngIf="user?.email != null" ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>{{ user.email }}</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="['/profile', user.id]">Profile</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="signOut()">Sign Out</button>
        </div>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div> -->