<form class="form-login">
    <!--Title-->
    <div class="text-center mb-4">
        <h2 class="h2 mb-3 font-weight-normal">Log In</h2>
    </div>

    <!--Error alert-->
    <ngb-alert *ngIf="error?.code" type="danger" (close)="closeError()">
        <strong>{{ error.code | titlecase }}:</strong> {{ error.message }}
    </ngb-alert>

    <!--Login Form-->
    <div class="form-label-group">
        <input name="email" [(ngModel)]="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input name="password" [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
        <input type="checkbox" (change)="toggleRememberMe();" value="remeber-me"> Remember Me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" (click)="emailSignin();" type="submit">Log In</button>
    <p class="or text-center">OR</p>
    <!--Other Sigin Options-->
    <div>
        <a (click)="googleSignin();">
            <img class="google btn btn-block" src="assets/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png">
        </a>
    </div>
</form>