<form class="form-dictionary">
    <!--Title-->
    <div class="text-center mb-4">
        <h2 class="h2 mb-3 font-weight-normal">Create Dictionary</h2>
    </div>

    <!--Dictionary Form-->
    <div *ngIf="user.email != ''; else login">

        <!--Error alert-->
        <ngb-alert *ngIf="error?.code" type="danger" (close)="closeError()">
            <strong>{{ error.code | titlecase }}:</strong> {{ error.message }}
        </ngb-alert>

        <!--Name-->
        <div class="form-label-group">
            <input name="name" [(ngModel)]="dictionary.name" type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputName">Name</label>
        </div>
        
        <!--Published-->
        <div class="custom-control custom-switch">
            <label class="custom-control-label" for="publishedSwitch">Published</label>
            <label class="muted" *ngIf="dictionary.published">Anyone will be able to view your dictionary.</label>
            <input name="published" [(ngModel)]="dictionary.published" type="checkbox" class="custom-control-input" id="publishedSwitch" required>
        </div>

        <!--Tags-->
        <div class="form-label-group">
            <input name="tags" [(ngModel)]="tags" type="tags" id="inputTags" class="form-control" placeholder="Tags">
            <label for="inputTags">Tags</label>
        </div>

        <!--Create Dictionary-->
        <button class="btn btn-lg btn-primary btn-block" (click)="addDictionary()" type="submit">Submit</button>
    </div>

    <ng-template #login>
        <div class="container">
            <p class="text-center">Please login before you create a dictionary.</p>
        </div>
    </ng-template>
</form>