<form class="form-dictionary">
    <div class="text-center mb-4">
        <h2 class="h2 mb-3 font-weight-normal">Create Dictionary</h2>
    </div>

    <div class="form-label-group">
        <input name="name" [(ngModel)]="dict.name" type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputName">Name</label>
    </div>

    <div class="form-label-group">
        <input name="admins" type="admins" id="inputAdmins" class="form-control" placeholder="Admins"> <!--[(ngModel)]="dict.admins"-->
        <label for="inputAdmins">Admins</label>
    </div>

    <div class="form-label-group">
        <input name="moderators" type="moderators" id="inputModerators" class="form-control" placeholder="Moderators"> <!--[(ngModel)]="dict.moderators"-->
        <label for="inputModerators">Moderators</label>
    </div>

    <div class="form-label-group">
        <select name="view" [(ngModel)]="dict.view" type="view" id="inputView" class="form-control" placeholder="View" required>
        <option value="0" selected>Public</option> <!--Views is enum 0 => Public-->
        <option value="1">Private</option> <!--Views is enum 1 => Private-->
        <option value="2">Unlisted</option> <!--Views is enum 2 => Unlisted-->
        </select>
        <label for="inputView">View</label>
    </div>

    <div class="form-label-group">
        <input name="tags" [(ngModel)]="dict.tags" type="tags" id="inputTags" class="form-control" placeholder="Tags">
        <label for="inputTags">Tags</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" (click)="addDictionary()" type="submit">Submit</button>
</form>