<div *ngIf="canRead(); else noAccess" class="container">
    <!--Dictionary Name-->
    <div class="text-left mb-1">
        <h3 class="h3 font-weight-normal">{{ dictionary.name | titlecase }} ({{ words?.length }} Words)</h3>
    </div>

    <!--Tags-->
    <div class="mb-1">
        <span class="badge badge-pill badge-secondary mr-1" [routerLink]="['/tag', tag]" *ngFor="let tag of dictionary.tags">{{ tag }}</span>
    </div>

    <!--Error-->
    <ngb-alert *ngIf="error" type="danger" (close)="closeError()">
        <strong>Error!</strong> {{ functionError | titlecase }} synonyms do not exist for <strong>{{ wordError }}</strong>
    </ngb-alert>

    <!--Buttons-->
    <button *ngIf="words?.length > 0 && canEdit()" class="btn btn-primary" (click)="removeWords()">Remove Word(s)</button>
    <button *ngIf="canDelete()" class="btn btn-danger" (click)="open(deleteModal)">Delete Dictionary</button>
    <button *ngIf="canEdit()" class="btn btn-secondary" (click)="open(editModal)">Edit Dictionary</button>
    <button *ngIf="canDelete()" class="btn btn-secondary" (click)="open(shareModal)">
        <a>Share </a>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-share-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
    </button>

    <!--Words-->
    <ng-container *ngIf="words?.length > 0; else noWords">
        <table class="table">
            <thead>
                <tr>
                    <th scole="col" class="remove-col">
                        <input type="checkbox" [(ngModel)]="check" (change)="toggleCheckboxes()" [checked]=false>
                    </th>
                    <th scope="col">Word</th>
                    <th scope="col" *ngIf="showSynonyms">Synonyms</th> <!--Column for 2st synonym-->
                    <th scope="col" *ngIf="showSynonyms"></th> <!--Column for 2nd synonym-->
                    <th scope="col" *ngIf="showSynonyms"></th> <!--Column for 3rd synonym-->
                    <th scope="col" *ngIf="showSynonyms"></th> <!--Column for collapse button-->
                </tr>
            </thead>

            <tbody *ngFor="let word of words; index as i">
                <tr>
                    <!--Checkbox-->
                    <td scope="col" class="remove-col">
                        <input type="checkbox" [(ngModel)]="checkboxArray[i]" (change)="addWordToRemove(word)">
                    </td>
                    <!--Word-->
                    <td scope="col">
                        <div ngbDropdown>
                            <span id="dropdownBasic1" ngbDropdownToggle>{{ word.word | titlecase }}</span>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngIf="canEdit()" (click)="removeWord(word)">Remove</button>
                                <button ngbDropdownItem (click)="getWordSynonyms(word, 'noun')">Show Noun Synonyms</button>
                                <button ngbDropdownItem (click)="getWordSynonyms(word, 'verb')">Show Verb Synonyms</button>
                                <button ngbDropdownItem (click)="hideSynonyms()">Hide Synonyms</button>
                            </div>
                        </div>
                    </td>                
                    <!--Synonyms-->
                    <ng-container *ngIf="showSynonyms">
                        <ng-container *ngFor="let syn of wordSynonyms.get(word).slice(0,3)">
                            <td scope="col">
                                <div ngbDropdown>
                                    <span  id="dropdownBasic1" ngbDropdownToggle>{{ syn | titlecase }}</span>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="addSyn(word, syn)">Add</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <td *ngIf="wordSynonyms.get(word).slice(0,3).length <= 0"></td>
                        <td *ngIf="wordSynonyms.get(word).slice(0,3).length <= 1"></td>
                        <td *ngIf="wordSynonyms.get(word).slice(0,3).length <= 2"></td>
                        <!--Collapse button-->
                        <td>
                            <!--Shows only when more than three synonyms-->
                            <span class="collapse-synonyms" *ngIf="wordSynonyms.get(word).length > 3" (click)="expandRow(i)">+</span>
                        </td>
                    </ng-container>
                </tr>
                <!--Collapsible synonym row-->
                <ng-container *ngIf="expandedRow[i]">
                    <tr *ngFor="let row of numOfRows.get(word); index as j">
                        <td></td> <!--Place holder for checkbox-->
                        <td></td> <!--Place holder for Word-->
                        <ng-container *ngFor="let syn of wordSynonyms.get(word).slice(3+(3*j),6+(3*j))">
                            <td>
                                <div ngbDropdown>
                                    <span  id="dropdownBasic1" ngbDropdownToggle>{{ syn | titlecase }}</span>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="addSyn(word, syn)">Add</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <td *ngIf="wordSynonyms.get(word).slice(3+(3*j),6+(3*j)).length <= 1"></td>
                        <td *ngIf="wordSynonyms.get(word).slice(3+(3*j),6+(3*j)).length <= 2"></td>
                        <td></td> <!--Place holder for collapse btn-->
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </ng-container>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Dictionary</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <p>
                    <strong>Are you sure you want to delete <span class="text-primary">{{ dictionary.name }}</span>?</strong>
                </p>
                <p>All information associated to this dictionary will be permanently deleted.
                    <span class="text-danger">This operation can not be undone.</span>
                </p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
    </div>
</ng-template>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Dictionary Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="mb-1">
                    <span *ngFor="let tag of tags" class="badge badge-pill badge-secondary mr-1">
                        {{ tag }}
                        <a class="tag-close-button" (click)="deleteTag(tag)">
                            <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="light" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                            </svg>
                        </a>
                    </span>
                </div>
                <input class="tag-input" name="tags" [(ngModel)]="tagsToBeAdded" type="text" placeholder="Tags">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('cross click')">Close</button>
        <button type="button" class="btn btn-success" (click)="modal.close('save')">Save</button>
    </div>
</ng-template>

<ng-template #shareModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Share Dictionary {{ dictionary.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <h6>Editor:</h6>
                <input class="editor-input" name="editors" type="text" placeholder="Editors">
                <h6>Viewers:</h6>
                <input class="viewers-input" name="viewers" type="text" placeholder="Viewer">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('cross click')">Close</button>
        <button type="button" class="btn btn-success" (click)="modal.close('save')">Save</button>
    </div>
</ng-template>

<ng-template #noWords>
    <div class="container">
        <p>It looks like this dictionary is empty. Try adding some words by searching above.</p>
    </div>
</ng-template>

<ng-template #noAccess>
    <div class="container">
        <p>It looks like you do not have permission to view this dictionary.</p>
    </div>
</ng-template>