<div>
    <div class="row">
        <div class="col form-profile">
            <!--Title-->
            <div class="text-left mb-4">
                <h3 class="h3 mb-3 font-weight-normal">Profile:</h3>
            </div>

            <!--Error alert-->
            <ngb-alert *ngIf="error?.code" type="danger" (close)="closeError()">
                <strong>{{ error.code | titlecase }}:</strong> {{ error.message }}
            </ngb-alert>

            <!--Success alert-->
            <ngb-alert *ngIf="false" type="success" (close)="closeAlert()">
                <strong>{{ error.code | titlecase }}:</strong> {{ error.message }}
            </ngb-alert>

            <!--Name-->
            <div class="form-label-group">
                <input name="name" [(ngModel)]="updateU.name" type="name" id="inputName" class="form-control" placeholder="Name" value="{{ user.name }}">
                <label for="inputName">Name</label>
            </div>
            
            <!--Email-->
            <div class="form-label-group">
                <input name="email" [(ngModel)]="updateU.email" type="email" id="inputEmail" class="form-control" placeholder="Email" value="{{ user.email }}">
                <label for="inputEmail">Email</label>
            </div>

            <!--New Password-->
            <div class="form-label-group">
                <input name="newPass" type="password" [(ngModel)]="updateU.password" id="inputNewPass" class="form-control" placeholder="New Password">
                <label for="inputNewPass">New Password</label>
            </div>

            <!--Confirm New Password-->
            <div class="form-label-group">
                <input name="newConfPass" type="password" [(ngModel)]="confPassword" id="inputNewConfPass" class="form-control" placeholder="Confirm New Password">
                <label for="inputNewConfPass">Confirm New Password</label>
            </div>
            
            <!--Old Password-->
            <div class="form-label-group">
                <input name="password" type="password" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="Old Password">
                <label for="inputPassword">Old Password</label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" (click)="updateUser()">Update</button>
            <button class="btn btn-lg btn-danger btn-block" (click)="deleteUser()">Delete</button>
        </div>
        <div class="col">
            <!--Title-->
            <div class="text-left mb-4">
                <h3 class="h3 mb-3 font-weight-normal">Library:</h3>
            </div> 
            
            <div *ngFor="let dict of user.library">
                <a class="h5" [routerLink]="['/dictionary', dict.id]">{{ dict.name }}</a>
            </div>
        </div>
    </div>
</div>