<div class="container">
    <!--Title-->
    <div class="text-left mb-4">
        <div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Add</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>New Dictionary</button>
                    <div class="dropdown-divider"></div> <!--Horizontal line-->
                    <button ngbDropdownItem *ngFor="let dict of dictionaries" (click)="addWord(searchItem,'',dict.id)">{{ dict.name }}</button>
                </div>
            </div>
            <span class="h2 align-middle font-weight-normal">{{ searchItem | titlecase }}</span>
        </div>
    </div>

    <!--Error alert-->
    <ngb-alert *ngIf="error?.code" type="danger" (close)="closeError()">
        <strong>{{ error.code | titlecase }}:</strong> {{ error.message }}
    </ngb-alert>

    <!-- <h3 *ngIf="arrayOfDict">Dictionaries:</h3>
    <div *ngFor = "let dict of arrayOfDict">
        <a [routerLink]="['/dictionary', dict.name]">{{ dict.name }}</a>
    </div> -->

    <!--Noun Title-->
    <div class="text-left" *ngIf="nouns">
        <h3 class="h3 font-weight-normal">Nouns:</h3>
    </div>
    <!--Nouns-->
    <ul class="nounList" >
        <li class="row" *ngFor="let noun of nouns">
            <div>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Add</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>New Dictionary</button>
                        <div class="dropdown-divider"></div> <!--Horizontal line-->
                        <button ngbDropdownItem *ngFor="let dict of dictionaries" (click)="addWord(noun,'noun',dict.id)">{{ dict.name }}</button>
                    </div>
                </div>
                <span class="align-middle">{{ noun | titlecase }}</span>
            </div>
        </li>
    </ul>

    <!--Verb Title-->
    <div class="text-left" *ngIf="verbs">
        <h3 class="h3 font-weight-normal">Verbs:</h3>
    </div>
    <!--Verbs-->
    <ul class="verbList" >
        <li class="row" *ngFor="let verb of verbs">
            <div>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Add</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>New Dictionary</button>
                        <div class="dropdown-divider"></div> <!--Horizontal line-->
                        <button ngbDropdownItem *ngFor="let dict of dictionaries" (click)="addWord(verb,'verb',dict.id)">{{ dict.name }}</button>
                    </div>
                </div>
                <span class="align-middle">{{ verb | titlecase }}</span>
            </div>
        </li>
    </ul>
</div>