<main class="flex-shrink-0">
    <div class="container">
        <h3>Welcome!</h3>
        <p *ngIf="user == null">Login and create your own dictionary by clicking <b><a routerLink="./create-dictionary" routerLinkActive="active">Create Dictionary</a></b>!</p>

        <!--Dictionary Cards-->
        <ng-container *ngIf="user != null">
            <ng-container *ngFor="let iterations of length; index as i">
                <div class="card-deck mb-4">
                    <div *ngFor="let dictionary of dictionaries.slice(0+i*4, 4+i*4)" class="card">
                        <h5 class="card-header">{{ dictionary.name }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{ dictionary.size }} Words</h5>
                            <!--Tags-->
                            <div class="mb-1">
                                <span class="badge badge-pill badge-secondary mr-1" [routerLink]="['/tag', tag]" *ngFor="let tag of dictionary.tags">{{ tag }}</span>
                            </div>
                            <a [routerLink]="['/dictionary', dictionary.id]" class="btn btn-primary btn-sm">Goto Dictionary</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</main>